@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'dosislight';
    src: url('../fonts/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/dosis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
html {
	font-size: 15px;
}
body{
	margin: 0;
	color: #777;
	font-family: 'open_sanslight', sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul{
	list-style: none;
}
img {
	max-width: 100%;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}
textarea {
	resize: vertical;
}
/* Grid layout start */
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}
.container-fluid {
	padding: 0 15px;
}
.row {
	margin: 0 -15px;
}
.row::after {
	content: '';
	clear: both;
	display: block;
}
.col {
	float: left;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.col-1{
	width: 8.333333333%
}
.col-2{
	width: 16.666666667%
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.333333333%
}
.col-5{
	width: 41.666666667%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.333333333%
}
.col-8{
	width: 66.666666667%
}
.col-9{
	width: 75%
}
.col-10{
	width: 83.333333333%
}
.col-11{
	width: 91.666666667%
}
.col-12{
	width: 100%
}
/* Grid layout end */
/* Default classes start */
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.bg-black {
	background-color: #111;
}
.bg-gray {
	background-color: #f8f8f8;
}
.mx-auto {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
/* Default classes end */
/* Default component start */
.default-section {
	padding: 135px 0;
}
.small-section {
	padding: 70px 0;
}
.btn {
	font-family: 'open_sansregular', sans-serif;
	line-height: 1.73rem;
	letter-spacing: .2em;
	text-transform: uppercase;
	border-radius: 2px;
}
.btn-default {
	background: rgba(0, 0, 0, .8);
	font-size: .86rem;
	padding: 6px 20px;
	color: #fff;
}
.btn-large {
	background: rgba(255, 255, 255, .8);
	font-size: .93rem;
	padding: 7px 40px;
	color: #111;
}
.btn-small {
	background: rgba(255, 255, 255, .1);
	font-size: 11px;
	padding: 15px 9px;
	color: #777;
}
.title {
	font-family: 'dosisregular', sans-serif;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #111;
	letter-spacing: .5em;
	font-weight: normal;
	margin-bottom: 75px;
}
.title.title-light {
	font-family: 'dosislight', sans-serif;
	letter-spacing: .3em;
}
.title.title-white {
	color: #fff;
}
.default-text {
	font-size: 1rem;
	line-height: 1.73rem;
}
.info-text{
	font-family: 'open_sansregular', sans-serif;
	line-height: 1.73rem;
}
.rhomb-icon {
	display: inline-block;
	width: 23px;
	line-height: 23px;
	text-align: center;
	border-radius: 2px;
	font-size: .8rem;
	transform: rotate(45deg);
}
.rhomb-icon > * {
	transform: rotate(-45deg);
}
.rhomb-icon > .fa-phone {
	transform: rotate(45deg);
}
.rhomb-icon.black-icon {
	color: #fff;
	background-color: #111;
}
.rhomb-icon.white-icon {
	color: #222;
	background-color: #fff;
}
.form-control {
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 40px;
	font-family: 'open_sansregular', sans-serif;
	font-size: .8rem;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding: 0 13px;
	background-color: #fff;
}
textarea.form-control {
	min-height: 90px;
	padding-top: 10px;
}
.form-info {
	font-size: .73rem;
	color: #aaa;
}
/* Default component end */
/* Custom style start */
/* ==== Header start ==== */
#header {
	padding: 30px;
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
}
#header .logo {
	float: left;
}
#header .header-nav {
	float: right;
}
#header .header-nav li {
	float: left;
	font-family: 'open_sansregular', sans-serif;
	font-size: .7333rem;
	line-height: 1.9em;
	letter-spacing: .3em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .9);
}
#header .header-nav li + li {
	margin-left: 30px;
}
/* ==== Header end ==== */
/* ==== Inner start ==== */
.inner {
	background: url(../img/inner-bg.jpg) center / cover;
	height: 100vh;
	padding-top: 81px;
	text-align: center;
}
.inner::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -5px;
}
.inner-content {
	display: inline-block;
	max-width: 1000px;
	vertical-align: middle;
}
.inner-title h1 {
	font-family: 'dosisregular', sans-serif;
	color: rgba(254, 254, 254, .9);
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1.7em;
	text-indent: 1.7em;
	margin-bottom: 100px;
}
.inner-title-subtitle {
	color: rgba(254, 254, 254, .68);
	font-size: 1.26rem;
	font-weight: normal;
}
/* ==== Inner end ==== */
/* ===== About studio start ===== */
.about-studio .row + .row {
	margin-top: 100px;
}
.blockquote-text {
	font-size: 1.6rem;
	line-height: 2.53rem;
	margin-bottom: 10px;
}
.blockquote-author {
	font-family:'open_sansregular', sans-serif;
	font-size: .73rem;
	line-height: 2.53rem;
	letter-spacing: .2em;
	text-transform: uppercase;
}
.team-item-info {
	margin-top: 25px;
}
.team-item-info span {
	display: block;
}
.team-item-name,
.team-item-role {
	font-family:  'dosisregular', sans-serif;
	text-transform: uppercase;
	letter-spacing: .4em;
} 
.team-item-name {
	font-size: 1rem;
	margin-bottom: 10px;
}
.team-item-role {
	font-size: .8rem;
}
/* ===== About studio end ===== */
/* ==== Services start ==== */
.default-section.services {
	border-top: 1px solid #ececec;
}
.services-tab ul {
	overflow: hidden;
	margin-bottom: 70px;
}
.services-tab ul li {
	float: left;
	width: 20%;
	text-align: center;
	color: #888;
}
.services-tab ul li.ui-state-active {
	color: #111;
}
.services-tab ul li span {
	display: block;
	font-size: 3.2rem;
	letter-spacing: .5em;
	text-indent: .5em;
}
.services-tab ul li a span:last-child {
	margin-top: 35px;
	font-family:  'dosisregular', sans-serif;
	font-size: .93rem;
	letter-spacing: .4em;
	text-transform: uppercase;
}
/* ==== Services end ==== */
/* ===== Lets talk start ===== */
.lets-talk-wrapper {
	padding-top: 140px;
	padding-bottom: 140px;
}
.lets-talk-wrapper .title {
	margin-bottom: 25px;
}
.lets-talk-img {
	margin-top: -32px;
}
.lets-talk .default-text {
	color: rgba(255, 255, 255, .7);
	margin-bottom: 40px;
}
/* ===== Lets talk end ===== */
/* ==== Portfolio start ==== */
.default-section.portfolio {
	padding-bottom: 4px;
}
.portfolio .default-text {
	text-align: center;
    max-width: 770px;
    margin: auto;
}
.portfolio-tabs {
	overflow: hidden;
}
.portfolio-tabs ul {
	text-align: center;
	margin: 75px 0 45px;
}
.portfolio-tabs ul li {
	display: inline-block;
	text-transform: uppercase;
	font-family: 'dosisregular', sans-serif;
	font-size: .86rem;
	letter-spacing: .4em;
	color: rgba(17, 17, 17, .5);
}
.portfolio-tabs ul li.ui-state-active {
	color: rgba(17, 17, 17, 1);
}
.portfolio-tabs ul li + li {
	margin-left: 65px;
}
.portfolio-item {
	width: 33.33%;
	float: left;
	padding: 4px;
}
.portfolio-item img {
	width: 100%;
	filter: grayscale(100%);
}
.portfolio-item:hover img {
	filter: grayscale(0%);
}
/* ==== Portfolio end ==== */
/* ==== Creative works start ==== */
.small-section .title {
	margin-bottom: 20px;
}
/* ==== Creative works end ==== */
/* ==== Why choose us start ==== */
.advantage-icon {
	font-size: 3.2rem;
	color: #111;
}
.advantage-title {
	font-family: 'dosisregular', sans-serif;
	text-transform: uppercase;
    font-size: .93rem;
    letter-spacing: .4em;
	margin: 33px 0;
}
.advantage-title + .default-text {
	font-size: .93rem;
	margin-bottom: 80px;
}
/* ==== Why choose us end ====  */
/* ===== Reviews start ===== */
.reviews-carousel {
	padding: 140px 0;
}
.review-wrapper span {
	font-size: 2.13rem;
	color: #fff;
}
.reviews .title {
	margin: 20px 0 45px;
}
.reviews .review-text {
	font-size: 1.2rem;
	line-height: 2rem;
	color: rgba(255, 255, 255, .75);
}
.reviews .review-author {
	font-family: 'open_sansregular', sans-serif;
	font-size: .73rem;
	line-height: 2.53rem;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .3);
}
.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
.slick-arrow.slick-prev {
	left: 0;
}
.slick-arrow.slick-next {
	right: 0;
}
.slick-dots {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	line-height: 0;
}
.slick-dots li {
	display: inline-block;
	vertical-align: bottom;
}
.slick-dots li + li {
	margin-left: 5px;
}
.slick-dots li button {
	color: transparent;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #ccc;
	background-color: #ccc;
}
.slick-dots li.slick-active button {
	background-color: transparent;
	width: 9px;
	height: 9px;
}
/* ===== Reviews end ===== */
/* ===== Subscribe start ===== */
.small-section.subscribe {
	padding: 80px 0;
}
.small-section.subscribe .title {
	font-size: 1.066rem;
}
.subscribe-contact-form .form-control {
	max-width: 295px;
}
.subscribe-contact-form .form-info {
	margin-top: 20px;
}
.subscribe-contact-form .info-text {
	margin-left: 4px;
}
/* ===== Subscribe end ===== */
/* ===== Contacts start ===== */
.contact-item .rhomb-icon{
	vertical-align: middle;
}
.contact-item-content {
	display: inline-block;
	margin-left: 15px;
	vertical-align: middle;
}
.contact-item-content span {
	display: block;
}
.contact-item-content .contact-title {
	font-family: 'dosisregular', sans-serif;
	text-transform: uppercase;
	font-size: .8rem;
	letter-spacing: .3em;
	line-height: 1.6rem;
}
.contact-item-content .contact-data {
	font-family: 'open_sansregular', sans-serif;
	line-height: 1.6rem;
}
.form-row {
	margin: 0 -5px;
}
.form-col {
	width: 50%;
	float: left;
	padding: 0 5px;
}
.contact-form {
	margin-top: 80px;
}
.contact-form .form-control + .form-control {
	margin-top: 10px;
}
.form-submit {
	margin-top: 20px;
}
.form-row::after,.form-submit::after {
	content: '';
	display: block;
	clear: both;
}
.form-submit .form-info {
	float: left;
	line-height: 38px;
}
.form-submit button {
	float: right;
}

/* ===== Contacts end ===== */
/* ===== Map start ===== */
.map-container {
	position: relative;
}
#map {
	width: 100%;
	height: 410px;
}
.on-map-block {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .9);
}
.map-container:hover .on-map-block {
	opacity: 0;
}
.on-map-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.on-map-title .on-map-text {
	display: block;
	font-family: 'dosisregular', sans-serif;
	text-transform: uppercase;
	font-size: 1.066rem;
	color: #fff;
	letter-spacing: .3em;
	text-indent: .3em;
	margin-top: 20px;
}
/* ===== Map end ===== */
/* Custom style end */









