@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'dosislight';
    src: url('../fonts/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/dosis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
html {
	font-size: 15px;
}
body{
	margin: 0;
	color: #777;
	font-family: 'open_sanslight', sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul{
	list-style: none;
}
img {
	max-width: 100%;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}
textarea {
	resize: vertical;
}
/* Grid layout start */
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}
.container-fluid {
	padding: 0 15px;
}
.row {
	margin: 0 -15px;
}
.row::after {
	content: '';
	clear: both;
	display: block;
}
.col {
	float: left;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.col-1{
	width: 8.333333333%;
}
.col-2{
	width: 16.666666667%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.333333333%;
}
.col-5{
	width: 41.666666667%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.333333333%;
}
.col-8{
	width: 66.666666667%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.333333333%;
}
.col-11{
	width: 91.666666667%;
}
.col-12{
	width: 100%;
}
@media (max-width: 1200px) {
	.col-lg-1{
		width: 8.333333333%;
	}
	.col-lg-2{
		width: 16.666666667%;
	}
	.col-lg-3{
		width: 25%;
	}
	.col-lg-4{
		width: 33.333333333%;
	}
	.col-lg-5{
		width: 41.666666667%;
	}
	.col-lg-6{
		width: 50%;
	}
	.col-lg-7{
		width: 58.333333333%;
	}
	.col-lg-8{
		width: 66.666666667%;
	}
	.col-lg-9{
		width: 75%;
	}
	.col-lg-10{
		width: 83.333333333%;
	}
	.col-lg-11{
		width: 91.666666667%;
	}
	.col-lg-12{
		width: 100%;
	}
}
@media (max-width: 991px) {
	.col-md-1{
		width: 8.333333333%;
	}
	.col-md-2{
		width: 16.666666667%;
	}
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33.333333333%;
	}
	.col-md-5{
		width: 41.666666667%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-7{
		width: 58.333333333%;
	}
	.col-md-8{
		width: 66.666666667%;
	}
	.col-md-9{
		width: 75%;
	}
	.col-md-10{
		width: 83.333333333%;
	}
	.col-md-11{
		width: 91.666666667%;
	}
	.col-md-12{
		width: 100%;
	}
	.d-none-md{
		display: none;
	}
	.d-block-md{
		display: block;
	}
}
@media (max-width: 767px) {
	.col-sm-1{
		width: 8.333333333%;
	}
	.col-sm-2{
		width: 16.666666667%;
	}
	.col-sm-3{
		width: 25%;
	}
	.col-sm-4{
		width: 33.333333333%;
	}
	.col-sm-5{
		width: 41.666666667%;
	}
	.col-sm-6{
		width: 50%;
	}
	.col-sm-7{
		width: 58.333333333%;
	}
	.col-sm-8{
		width: 66.666666667%;
	}
	.col-sm-9{
		width: 75%;
	}
	.col-sm-10{
		width: 83.333333333%;
	}
	.col-sm-11{
		width: 91.666666667%;
	}
	.col-sm-12{
		width: 100%;
	}
	.d-none-sm{
		display: none;
	}
	.d-block-sm{
		display: block;
	}
}
@media (max-width: 576px) {
	.col-xs-1{
		width: 8.333333333%;
	}
	.col-xs-2{
		width: 16.666666667%;
	}
	.col-xs-3{
		width: 25%;
	}
	.col-xs-4{
		width: 33.333333333%;
	}
	.col-xs-5{
		width: 41.666666667%;
	}
	.col-xs-6{
		width: 50%;
	}
	.col-xs-7{
		width: 58.333333333%;
	}
	.col-xs-8{
		width: 66.666666667%;
	}
	.col-xs-9{
		width: 75%;
	}
	.col-xs-10{
		width: 83.333333333%;
	}
	.col-xs-11{
		width: 91.666666667%;
	}
	.col-xs-12{
		width: 100%;
	}
	.d-none-xs{
		display: none;
	}
	.d-block-xs{
		display: block;
	}
}
/* Grid layout end */
/* Default classes start */
.text-center {
	text-align: center;
}
.text-left {
	text-align-last: left;
}
.bg-black {
	background-color: #111;
}
.bg-gray {
	background-color: #f8f8f8;
}
.mx-auto {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
/* Default classes end */
/* Default component start */
.default-section {
	padding: 135px 0;
}
.small-section {
	padding: 70px 0;
}
.btn {
	font-family: 'open_sansregular', sans-serif;
	line-height: 1.73rem;
	letter-spacing: .2em;
	text-transform: uppercase;
	border-radius: 2px;
	border: 1px solid transparent;
}
.btn-default {
	background: rgba(0, 0, 0, .8);
	font-size: .86rem;
	padding: 6px 20px;
	color: #fff;
}
.btn-large {
	background: rgba(255, 255, 255, .8);
	font-size: .93rem;
	padding: 7px 40px;
	color: #111;
	transition: all .2s ease-in 1s;
	/* transition: border .2s ease-in, background-color .2s ease-in .5s;   вариант */
}
.btn-large:hover {
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
}
.btn-small {
	/* background: rgba(255, 255, 255, .1); */
	background: #e5e5e5;
	font-size: 11px;
	padding: 0  9px;
	color: #777;
}
.title {
	font-family: 'dosisregular', sans-serif;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #111;
	letter-spacing: .5em;
	font-weight: normal;
	margin-bottom: 75px;
}
.title.title-light {
	font-family: 'dosislight', sans-serif;
	letter-spacing: .3em;
}
.title.title-white {
	color: #fff;
}
.default-text {
	font-size: 1rem;
	line-height: 1.73rem;
}
.info-text{
	font-family: 'open_sansregular', sans-serif;
	line-height: 1.73rem;
}
.rhomb-icon {
	display: inline-block;
	width: 23px;
	line-height: 23px;
	text-align: center;
	border-radius: 2px;
	font-size: .8rem;
	transform: rotate(45deg);
}
.rhomb-icon > * {
	transform: rotate(-45deg);
}
.rhomb-icon.transparent-icon a > * {
	transform: rotate(-45deg);
}
.rhomb-icon > .fa-phone {
	transform: rotate(45deg);
}
.rhomb-icon.black-icon {
	color: #fff;
	background-color: #111;
}
.rhomb-icon.white-icon {
	color: #222;
	background-color: #fff;
}
.rhomb-icon.transparent-icon {
	color: rgba(17, 17, 17, .75);
	background-color: transparent;
	border: 1px solid rgba(45, 45, 45, .75);
}
.form-control {
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 40px;
	font-family: 'open_sansregular', sans-serif;
	font-size: .8rem;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding: 0 13px;
	background-color: #fff;
}
textarea.form-control {
	min-height: 90px;
	padding-top: 10px;
}
.form-info {
	font-size: .73rem;
	color: #aaa;
}
/* @media (max-width: 991px) {
	.default-section {
		padding: 90px 0;	
	}
} */
/* @media (max-width: 767px) {
	.default-section {
		padding: 50px 0;	
	}
	.title {
		margin-bottom: 45px;
	}
	.form-control {
		width: 100%;
	}
} */
/* Default component end */
/* Custom style start */
/* ==== Header start ==== */
#header {
	padding: 30px 0;
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
}
#header .logo {
	float: left;
}
#header .header-nav {
	float: right;
}
#header .header-nav li {
	float: left;
	font-family: 'open_sansregular', sans-serif;
	font-size: .7333rem;
	line-height: 1.9em;
	letter-spacing: .3em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .9);
}
#header .header-nav li + li {
	margin-left: 30px;
}
.animate-scale {
	transform: scale(0);
	animation: scale .5s ease-in 1s forwards;
}
@keyframes scale {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
@media (max-width: 991px) {
	#header .header-nav {
		display: none;
	}
	.slicknav_menu {
		display: block;
	}
}
/* ==== Header end ==== */
/* ==== Inner start ==== */
.inner {
	background: url(../img/inner-bg.jpg) center / cover;
	height: 100vh;
	padding-top: 81px;
	text-align: center;
}
.inner::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -5px;
}
.inner-content {
	display: inline-block;
	max-width: 1000px;
	vertical-align: middle;
}
.inner-title h1 {
	font-family: 'dosisregular', sans-serif;
	color: rgba(254, 254, 254, .9);
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1.7em;
	text-indent: 1.7em;
	margin-bottom: 100px;
}
.inner-title-subtitle {
	color: rgba(254, 254, 254, .68);
	font-size: 1.26rem;
	font-weight: normal;
}
.inner .rhomb-icon {
	position: absolute;
    bottom: 35px;
    left: 50%;
}
.inner .rhomb-icon .fas{
	transform: rotate(-45deg);
	font-size: 1rem;
}
.animate-opacity {
	opacity: 0;
	animation: opacity .5s ease-in .5s forwards;
}
@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@media (max-width: 991px) {
	.inner-title h1 {
		margin-bottom: 50px;
		letter-spacing: .7em;
		text-indent: .7em;
	}
}
/* @media (max-width: 767px) {
	.inner {
		height: auto;
		padding: 160px 0 80px;
	}
} */
/* ==== Inner end ==== */
/* ===== About studio start ===== */
.about-studio .row + .row {
	margin-top: 100px;
}
.blockquote-text {
	font-size: 1.6rem;
	line-height: 2.53rem;
	margin-bottom: 10px;
}
.blockquote-author {
	font-family:'open_sansregular', sans-serif;
	font-size: .73rem;
	line-height: 2.53rem;
	letter-spacing: .2em;
	text-transform: uppercase;
}
.team-item-photo {
	line-height: 0;
	height: 450px;
	position: relative;
	perspective: 2000px;
}
.team-item-photo:hover .team-item-front {
	transform: rotateY(180deg);
}
.team-item-photo:hover .team-item-skills {
	transform: rotateY(360deg);
}
.team-item-skills {
	background-color: #000;
	transform: rotateY(180deg);
	padding: 35px;
}
.item-skills-title {
	font-family: 'dosisregular', sans-serif;
	font-size: 1.2rem;
	line-height: 2.53rem;
	letter-spacing: .3em;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 30px;
}
.skills-text {
	font-family: 'open_sansregular', sans-serif;
	font-size: .86rem;
	line-height: 1.4rem;
	color: rgba(255, 255, 255, .5);
	margin-bottom: 40px;
}
.container-for-flip {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backface-visibility: hidden;
	transition:  all .8s ease;
}
.progress-bar {
	background-color: rgba(54, 54, 54, .9);
	height: 12px;
	width: 100%;
	position: relative;
	transition: all .2s linear;
}
.skills-list .skills-list-item + .skills-list-item {
	margin-top: 15px;
}
.skills-list .skills-list-item span {
	font-family: 'open_sansregular', sans-serif;
	font-size: .73rem;
	line-height: 1.7rem;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .9);
}
.progress {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: rgba(205, 205, 205, .9);
}
.team-item-photo img {
	width: 100%;
}
.team-item-info {
	margin-top: 25px;
}
.team-item-info span {
	display: block;
}
.team-item-name,
.team-item-role {
	font-family:  'dosisregular', sans-serif;
	text-transform: uppercase;
	letter-spacing: .4em;
} 
.team-item-name {
	font-size: 1rem;
	margin-bottom: 10px;
}
.team-item-role {
	font-size: .8rem;
}
/* @media (max-width: 767px) {
	.about-studio .row .col + .col .default-text {
		margin-bottom: 20px;
	}
	.about-studio .row + .row {
		margin-top: 50px;
	}
	.about-studio .row .col + .col .team-item {
		margin-top: 20px;
	}
} */
/* ===== About studio end ===== */
/* ==== Services start ==== */
.default-section.services {
	border-top: 1px solid #ececec;
}
.services-tab ul {
	overflow: hidden;
	margin-bottom: 70px;
}
.services-tab ul li {
	float: left;
	width: 20%;
	text-align: center;
	color: #888;
}
.services-tab ul li.ui-state-active {
	color: #111;
}
.services-tab ul li span {
	display: block;
	font-size: 3.2rem;
	letter-spacing: .5em;
	text-indent: .5em;
}
.services-tab ul li a span:last-child {
	margin-top: 35px;
	font-family:  'dosisregular', sans-serif;
	font-size: .93rem;
	letter-spacing: .4em;
	text-transform: uppercase;
}
/* @media (max-width: 991px) {
	.services-tab ul li a span:last-child {
		letter-spacing: .2em;
	}
} */
/* @media (max-width: 767px) {
	.services-tab ul li {
		width: 33.3333%;
		margin-bottom: 20px;
	}
	.services-tab ul {
		margin-bottom: 50px;
	}
	.services-tab div .row .col + .col .default-text {
		margin-bottom: 20px;
	}
} */
/* @media (max-width: 576px) {
	.services-tab ul li {
		width: 50%;
	}
} */
/* ==== Services end ==== */
/* ===== Lets talk start ===== */
.lets-talk-wrapper {
	padding-top: 140px;
	padding-bottom: 140px;
}
.lets-talk-wrapper .title {
	margin-bottom: 25px;
}
.lets-talk-img {
	margin-top: -32px;
}
.lets-talk .default-text {
	color: rgba(255, 255, 255, .7);
	margin-bottom: 40px;
}
/* @media (max-width: 991px) {
	.lets-talk-wrapper {
		text-align: center;
	}
} */
/* @media (max-width: 767px) {
	.lets-talk-wrapper {
		padding: 100px 0;
	}
} */
/* ===== Lets talk end ===== */
/* ==== Portfolio start ==== */
.default-section.portfolio {
	padding-bottom: 4px;
}
.portfolio .default-text {
	text-align: center;
    max-width: 770px;
    margin: auto;
}
.portfolio-tabs {
	overflow: hidden;
}
.portfolio-tabs ul {
	text-align: center;
	margin: 75px 0 45px;
}
.portfolio-tabs ul li {
	display: inline-block;
	text-transform: uppercase;
	font-family: 'dosisregular', sans-serif;
	font-size: .86rem;
	letter-spacing: .4em;
	color: rgba(17, 17, 17, .5);
}
.portfolio-tabs ul li.ui-state-active {
	color: rgba(17, 17, 17, 1);
}
.portfolio-tabs ul li + li {
	margin-left: 65px;
}
.portfolio-item {
	width: 33.33%;
	float: left;
	padding: 4px;
}
.portfolio-item img {
	width: 100%;
	filter: grayscale(100%);
}
.portfolio-item:hover img {
	filter: grayscale(0%);
}
/* @media (max-width: 991px) {
	.portfolio-item {
		width: 50%;
} */
/* @media (max-width: 767px) {
	.portfolio-tabs ul {
		margin: 45px 0 25px;
	}
	.portfolio-tabs ul li {
		display: block;
		margin-bottom: 15px;
	}
	.portfolio-tabs ul li + li {
		margin-left: 0;
	}
	.portfolio-item {
		width: 100%;
} */
/* ==== Portfolio end ==== */
/* ==== Creative works start ==== */
.small-section .title {
	margin-bottom: 20px;
}
/* ==== Creative works end ==== */
/* ==== Why choose us start ==== */
.advantage-icon {
	font-size: 3.2rem;
	color: #111;
}
.advantage-title {
	font-family: 'dosisregular', sans-serif;
	text-transform: uppercase;
    font-size: .93rem;
    letter-spacing: .4em;
	margin: 33px 0;
}
.advantage-title + .default-text {
	font-size: .93rem;
	margin-bottom: 80px;
}
/* @media (max-width: 991px) {
	.advantage-title + .default-text {
		margin-bottom: 50px;
	}
} */
/* ==== Why choose us end ====  */
/* ===== Reviews start ===== */
.reviews {
	overflow: hidden;
}
.reviews-carousel {
	padding: 140px 0;
}
.review-wrapper span {
	font-size: 2.13rem;
	color: #fff;
}
.reviews .title {
	margin: 20px 0 45px;
}
.reviews .review-text {
	font-size: 1.2rem;
	line-height: 2rem;
	color: rgba(255, 255, 255, .75);
}
.reviews .review-author {
	font-family: 'open_sansregular', sans-serif;
	font-size: .73rem;
	line-height: 2.53rem;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .3);
}
.slick-arrow {
	position: absolute;
	top: 0;
	height: 100%;
	width: 90px;
	z-index: 1;
	cursor: pointer;
}
.slick-arrow.slick-prev {
	left: 0;
}
.slick-arrow.slick-next {
	right: 0;
}
.slick-arrow .carousel-button {
	width: 63px;
	height: 63px;
	background-color: #fff;
	transform: rotate(-45deg);
	position: absolute;
	top: 50%;
	margin-top: -31px;
	margin-left: -32px;
}
.slick-arrow.slick-next .carousel-button {
	right: 0;
	margin-right: -32px;
}
.slick-arrow .carousel-button .fa {
	position: absolute;
	transform: rotate(45deg);
	font-size: 10px;
}
.slick-arrow.slick-prev .carousel-button .fa {
    bottom: 14px;
    right: 17px;
}
.slick-arrow.slick-next .carousel-button .fa {
    top: 14px;
    left: 17px;	
}
.slick-dots {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	line-height: 0;
}
.slick-dots li {
	display: inline-block;
	vertical-align: bottom;
}
.slick-dots li + li {
	margin-left: 5px;
}
.slick-dots li button {
	color: transparent;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #ccc;
	background-color: #ccc;
}
.slick-dots li.slick-active button {
	background-color: transparent;
	width: 9px;
	height: 9px;
}
/* @media (max-width: 991px) {
	.review-text {
		padding: 0 40px;
	}
} */
/* @media (max-width: 767px) {
	.review-text {
		padding: 0 30px;
	}
} */
/* ===== Reviews end ===== */
/* ===== Latest news start ===== */
.latest-news-title-wrapper {
	margin-bottom: 80px;
}
.latest-news-title-wrapper .title {
	display: inline-block;
	margin-bottom: 0;
}

.latest-news-title-wrapper a{
	display: block;
	float: right;
	font-family: 'dosisregular', sans-serif;
	font-size: 0.73rem;
	line-height: 24px;
	letter-spacing: .4em;
	text-transform: uppercase;
	color: #999;
}
.latest-news-image img {
	width: 100%;
}
.news-title-block {
	font-family:'dosisregular', sans-serif;
	text-transform: uppercase;
	margin: 15px 0;
}
.news-title {
	font-size: 1rem;
	letter-spacing: .2em;
	font-weight: normal;
	margin-bottom: 10px;
}
.news-author, 
.news-date {
	font-size: .73rem;
	letter-spacing: .4em;
	color: #999;
}
.news-date {
	padding-left: 4px;
}
.news-title-block + .default-text {
	margin-bottom: 20px;
}
/* @media (max-width: 991px) {
	.news-item {
		padding-top: 30px;
		margin-bottom: 30px;
	}
	.latest-news .row .col + .col .news-item {
		border-top: 2px solid #000;
	}
}  */
/* @media (max-width: 767px) {
	.latest-news-title-wrapper {
		margin-bottom: 40px;
	}
} */
/* ===== Latest news end ===== */
/* ===== Subscribe start ===== */
.small-section.subscribe {
	padding: 80px 0;
}
.small-section.subscribe .title {
	font-size: 1.066rem;
}
.subscribe-contact-form .form-control {
	max-width: 295px;
}
.subscribe-contact-form .form-info {
	margin-top: 20px;
}
.subscribe-contact-form .info-text {
	margin-left: 4px;
}
/* @media (max-width: 767px) {
	.subscribe-contact-form .form-control {
		max-width: 100%;
		margin-bottom: 20px;
	}
} */
/* ===== Subscribe end ===== */
/* ===== Contacts start ===== */
.contact-item .rhomb-icon{
	vertical-align: middle;
}
.contact-item-content {
	display: inline-block;
	margin-left: 15px;
	vertical-align: middle;
}
.contact-item-content span {
	display: block;
}
.contact-item-content .contact-title {
	font-family: 'dosisregular', sans-serif;
	text-transform: uppercase;
	font-size: .8rem;
	letter-spacing: .3em;
	line-height: 1.6rem;
}
.contact-item-content .contact-data {
	font-family: 'open_sansregular', sans-serif;
	line-height: 1.6rem;
}
.form-row {
	margin: 0 -5px;
}
.form-col {
	width: 50%;
	float: left;
	padding: 0 5px;
}
.contact-form {
	margin-top: 80px;
}
.contact-form .form-control + .form-control {
	margin-top: 10px;
}
.form-submit {
	margin-top: 20px;
}
.form-row::after,.form-submit::after {
	content: '';
	display: block;
	clear: both;
}
.form-submit .form-info {
	float: left;
	line-height: 38px;
}
.form-submit button {
	float: right;
}
/* @media (max-width: 767px) {
	.form-col {
		width: 100%;
	}
	.contact-item {
		text-align: center;
	}
	.contacts .row .col .row .col + .col .contact-item {
		margin-top: 20px;
	}
} */
/* ===== Contacts end ===== */
/* ===== Map start ===== */
.map-container {
	position: relative;
}
#map {
	width: 100%;
	height: 410px;
}
.on-map-block {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .9);
}
.map-container:hover .on-map-block {
	opacity: 0;
}
.on-map-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.on-map-title .on-map-text {
	display: block;
	font-family: 'dosisregular', sans-serif;
	text-transform: uppercase;
	font-size: 1.066rem;
	color: #fff;
	letter-spacing: .3em;
	text-indent: .3em;
	margin-top: 20px;
}
/* ===== Map end ===== */
/* ===== Footer start ===== */
#footer {
	padding: 135px 0 60px;
}
.footer-social-nav {
	margin: 20px 0 100px;
}
.footer-social-nav li + li {
	margin-left: 13px;
}
.footer-social-nav li:hover {
	background-color: #111;
	color: #fff;
	border: none;
}
.footer-text-block span {
	display: block;
}
.copyright {
	font-family: 'dosisregular', sans-serif;
	text-transform: uppercase;
	color: #111;
	letter-spacing: .5em;
	line-height: 1.6rem;
	margin-bottom: 10px;
}
.copyright .fa-copyright {
	margin-right: 8px;
	color: #999;
	font-size: .8rem;
}
.footer-text {
	font-family: 'open_sansregular', sans-serif;
	color: #999;
	line-height: 1.6rem;
	font-size: .73rem;
}
#footer .up-to-top {
    position: fixed;
    bottom: 30px;
	right: 30px;
}
/* @media (max-width: 767px) {
	#footer {
		padding: 100px 0 30px;
	}
} */
/* ===== Footer end ===== */
/* Custom style end */